.container {
              width: 100%;
              padding: 0 20px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              font-family: 'Prompt', sans-serif;
              color: 'green';
}
