.tabs-form {
    font-family: Arial, sans-serif;
    max-width: 95%;
    min-width: 980px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex:1;
  }

  .tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    background: #fff;
  }

  .tabzz {
    flex: 1;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #555;
  }

  .tabzz.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
  }

  .tabz:hover {
    background: #f1f1f1;
  }

  .tab-content {
    padding: 20px;
    display: flex;

  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  .required {
    color: red;
  }

  .thamd-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }

  .thamd-card input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
  }
